<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerRegistrationCode</servlet-name>
        <servlet-class>mini.project.registration.CustomerRegistrationCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopkeeperRegistrationCode</servlet-name>
        <servlet-class>mini.project.registration.ShopkeeperRegistrationCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginCode</servlet-name>
        <servlet-class>mini.project.login.CustomerLoginCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopkeeperLoginCode</servlet-name>
        <servlet-class>mini.project.login.ShopkeeperLoginCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopkeeperShopTables</servlet-name>
        <servlet-class>mini.project.viewtables.ShopkeeperShopTables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginCode</servlet-name>
        <servlet-class>mini.project.login.AdminLoginCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>mini.project.login.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeAdmin</servlet-name>
        <servlet-class>mini.project.login.WelcomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopDetails</servlet-name>
        <servlet-class>mini.project.viewtables.ViewShopDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrdersTable</servlet-name>
        <servlet-class>CustomerOrders.UpdateOrdersTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaytoDeleteProductJSP</servlet-name>
        <servlet-class>mini.project.viewtables.WaytoDeleteProductJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHardware</servlet-name>
        <servlet-class>mini.project.viewtables.DeleteHardware</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaytoAddProductJSP</servlet-name>
        <servlet-class>mini.project.viewtables.WaytoAddProductJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddedHardware</servlet-name>
        <servlet-class>mini.project.viewtables.AddedHardware</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterShopDetails</servlet-name>
        <servlet-class>mini.project.registration.EnterShopDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStockPrice</servlet-name>
        <servlet-class>ShopkeeperEditProducts.EditStockPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStockPrice</servlet-name>
        <servlet-class>ShopkeeperEditProducts.UpdateStockPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferOrdersToPurchase</servlet-name>
        <servlet-class>ShopkeeperEditProducts.TransferOrdersToPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrders</servlet-name>
        <servlet-class>mini.project.viewtables.ViewOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewtablesToShopkeeperJSP</servlet-name>
        <servlet-class>mini.project.viewtables.ViewtablesToShopkeeperJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerViewPurchases</servlet-name>
        <servlet-class>CustomerOrders.CustomerViewPurchases</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerRegistrationCode</servlet-name>
        <url-pattern>/CustomerRegistrationCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopkeeperRegistrationCode</servlet-name>
        <url-pattern>/ShopkeeperRegistrationCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginCode</servlet-name>
        <url-pattern>/CustomerLoginCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopkeeperLoginCode</servlet-name>
        <url-pattern>/ShopkeeperLoginCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopkeeperShopTables</servlet-name>
        <url-pattern>/ShopkeeperShopTables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCode</servlet-name>
        <url-pattern>/AdminLoginCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeAdmin</servlet-name>
        <url-pattern>/WelcomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopDetails</servlet-name>
        <url-pattern>/ViewShopDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrdersTable</servlet-name>
        <url-pattern>/UpdateOrdersTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaytoDeleteProductJSP</servlet-name>
        <url-pattern>/WaytoDeleteProductJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHardware</servlet-name>
        <url-pattern>/DeleteHardware</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaytoAddProductJSP</servlet-name>
        <url-pattern>/WaytoAddProductJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddedHardware</servlet-name>
        <url-pattern>/AddedHardware</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterShopDetails</servlet-name>
        <url-pattern>/EnterShopDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStockPrice</servlet-name>
        <url-pattern>/EditStockPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStockPrice</servlet-name>
        <url-pattern>/UpdateStockPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferOrdersToPurchase</servlet-name>
        <url-pattern>/TransferOrdersToPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrders</servlet-name>
        <url-pattern>/ViewOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewtablesToShopkeeperJSP</servlet-name>
        <url-pattern>/ViewtablesToShopkeeperJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerViewPurchases</servlet-name>
        <url-pattern>/CustomerViewPurchases</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
