@charset "utf-8";
/* CSS Document */
 body {
      position: relative; 
  }
#section1 {
	padding-top:50px;
	padding-bottom: 5px;
	height:100%;
	color: #fff;
	opacity: 0.8;
        background-image: url('background_image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
        background-attachment: fixed;
}
#page-wrap
{
	width: 1330px;
	margin: 0 auto;
}
#for_box {
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	font-size: 22px;
	padding-left: 180px;
	padding-right: 180px;
}
footer 
{
	width:100%;
}
address
{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	font-size:15px;	
	margin-top: -10px;
	margin-bottom: 6px;
}
.point:focus {
    cursor: pointer;
}